


@font-face {
  font-family: 'Montserrat';
  src: url('app/fonts/Montserrat-Regular.woff2') format('woff2'),
    url('app/fonts/Montserrat-Regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url('app/fonts/Montserrat-ThinItalic.woff2') format('woff2'),
    url('app/fonts/Montserrat-ThinItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('app/fonts/Montserrat-Thin.woff2') format('woff2'),
    url('app/fonts/Montserrat-Thin.woff') format('woff');
  font-weight: 300;
  
}

@font-face {
  font-family: 'Montserrat';
  src: url('app/fonts/Montserrat-Medium.woff2') format('woff2'),
    url('app/fonts/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  
}


