html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}


body {
  color: $mainText;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;   
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.section-title {
  color: $mainText;
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  position: relative;
  &::after {
    content: '';
    position: absolute;    
    left: 0;
    bottom: -10px;
    width: 100px;
    border: 3px solid #DA1E18;
  }
}




.btn-reset {
  font-family: 'Inter';  
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 11px 35px;   
  border-radius: 30px;
}


.slick-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 25px;  
  text-align: center;
  li {
    display: inline-block;
    padding: 0 10px;
  }
  button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    padding: 0;
    font-size: 0;
    cursor: pointer;
    border: 2px solid #DA1E18;
    background-color: transparent;
  }

  .slick-active button {
    background-color: #fff;
    border: none;
  }

}

.section-center {
  text-align: center;
  margin-bottom: 70px;
}

.title-center {  
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  color: $mainText;
  margin-bottom: 20px;
}





