@import 'vars';
@import 'fonts';
@import 'global';

.header {
  color: $gray;  
}

.header__top {
  padding: 15px 0;
  padding-bottom: 15px; 
  
  &-inner {
    display: flex;
    justify-content: center;
    gap: 30px;    
    span {
      font-weight: 600;
      margin-right: 10px;
    }
  }
  &-week {
    padding-left: 30px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 20px;
      height: 20px;
      background-image: url('../images/header__icon-1.svg');
      background-repeat: no-repeat;
    }
  }
  &-mail {
    padding-left: 40px;
    position: relative;
     &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 30px;
      height: 20px;
      background-image: url('../images/header__icon-2.svg');
      background-repeat: no-repeat;
    }
  }

  &-address {
    padding-left: 25px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom:-3px;
      width: 20px;
      height: 30px;
      background-image: url('../images/map.svg');
      background-repeat: no-repeat;
    }
  }
  &-tell {
    padding-left: 40px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -14px;
      width: 40px;
      height: 40px;
      background-image: url('../images/header-tell.svg');
      background-repeat: no-repeat;
    }
  }
}

.header__border-top {
  margin: 30px 0;
  border-bottom: 1px solid $gray;
}

.header__bottom {
  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 85px;
    margin-bottom: 20px;
  }

  &-list {
    display: flex;
    gap: 25px;
  }

  
}



.header__social-list {
  display: flex;  
  gap: 10px;
}

.header__facebook {
  width: 30px;
  height: 30px;
  fill: $gray; 
  transition: all .3s;
  &:hover {
    fill: #000;    
    stroke: aqua;
  }
}

.header__instagram {
  width: 30px;
  height: 30px;
  fill: $gray; 
  transition: all .3s;
  &:hover {
    fill: #000;    
  }
}

.header__linkedin {
  width: 30px;
  height: 30px;
  fill: $gray; 
  transition: all .3s;
  &:hover {
    fill: #000;    
  }
}

.header__menu {
  color: #fff;
  padding: 15px 25px;   
  background-color: #363636;
  &-list {
    display: flex;
    justify-content: space-between;
    gap: 77px;
  }
  &-link {
    display: inline;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;          
    transition: all .3s ease-in-out; 
    &:hover {  
      padding: 8px 25px;
      border-radius: 3px;             
      background-color: #DA1E18;
    }
  }
}


.slick-btn {   
  position: absolute;
  top: 50%;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  transform: translateX(-50%);
  background-color: rgba(218, 30, 24, .7);
}

.slick-prev {
  left: 381px;
  z-index: 30;
}

.slick-next {
  right: 150px;
}




// media

@media(max-width: 1350px) {

  .slick-prev {
    left: 150px;
  }

  .slick-next {
    right: 150px;   
  }
}





@media(max-width: 1050px) {

  .header__top-inner {   
    flex-direction: column;
    gap: 15px;
    flex-wrap: wrap;
  }

  .header__bottom-inner {   
    gap: 25px;
    margin-bottom: 20px;
  }

  .header__menu-list {    
    gap: 25px;
  }
}





@media(max-width: 960px) {

  .header__bottom-inner {       
    flex-wrap: wrap;
    justify-content: center;
  }

  .header__bottom-text {
    width: 100%;
  }
}


@media(max-width:860px) {

  .slick-prev {
    left: 85px;
  }

  .slick-next {
    right: 85px;
  }
}








@media(max-width: 780px) {

  .header__menu-list {   
    justify-content: center;   
    flex-wrap: wrap;
    gap: 20px;
  }

  
}





@media(max-width: 520px) {

  .header__bottom-list {
   flex-direction: column;
   justify-content: center;
   text-align: center;
    gap: 0;
  }
}




@media(max-width: 630px) {

  .header__bottom-inner {
    justify-content: center;
  }

  .header__bottom-content {
    text-align: center;   
  }

  .slick-btn {
    display: none;
    opacity: 0;
  }
}




@media(max-width: 420px) {   

  .header__menu-list {   
   gap: 15px;
  }

}



@media(max-width: 360px) {

  .header__top-inner {   
    font-size: 14px;
    gap: 12px;    
  }
  
}
